.mat-form-field {
    width: 100%;
    padding: 0 30px;
    font-weight: bold;
    font-family: Poppins, sans-serif;
  }
  .weightFormField {
    width: 60%;
  }
  .unitFormField {
    width: 40%;
  }
  .timeFormField{
    width: 50%;
  }

  .cardHeader {
    color: #4495ff;
    text-align: center;
    padding-top: 20px;
    font-family: Poppins, sans-serif;
  }
  
  .btnContainer {
    padding: 0 35px;
  }
  .logo-container {
    padding-top: 30px;
    width: 50%;
  }
  .logo-img {
    margin: auto 50%;
    width: 100%;
    height: auto;
  }
  
  .footerContainer {
    margin: 0 50%;
  }
  
  // #backBtn {
  //   display: none;
  // }

  #submitBtn {
    padding: 5px;
    font-size: 1.2em;
    font-family: Open Sans, sans-serif;
    margin-top: 40px;
    font-weight: 500;
    width: 100%;
  }
  
  p-card {
    width: 100%;
  }
  
  .footerDiv {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cardContainer {
    width: 30%;
    margin-top: 70px;
  }
  
  .forgot-pass,
  .mat-checkbox-label {
    font-size: rem(14px);
  }
  
  a:link:not(.btn),
  a:visited:not(.btn) {
    color: #007bff;
  }
  
  a:active:not(.btn),
  a:hover:not(.btn) {
    color: darken(#007bff, 12%);
  }
  
  @media screen and (max-width: 959px) {
    .cardHeader {
      color: #516073;
      text-align: center;
      padding-top: 20px;
      font-family: Poppins, sans-serif;
      font-size: 1.2em;
      font-weight: bold;
    }
  
    .cardContainer {
      // position: absolute;
      margin: 0;
      width: 100%;
      height: 100%;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      background: #fff;
      overflow-y: auto;
      width: 100%;
      margin-top: 0;
      height: 100%;
    }

    // #backBtn {
    //   padding: 5px;
    //   font-size: 1.2em;
    //   font-family: Open Sans, sans-serif;
    //   margin-top: 40px;
    //   font-weight: 500;
    //   width: 100%;
    //   display: block;
    // }
  
    #submitBtn {
      padding: 5px;
      font-size: 1.2em;
      font-family: Open Sans, sans-serif;
      margin-top: 40px;
      font-weight: 500;
      width: 100%;
      margin-bottom: 10px;
    }
  
    .footerDiv {
      text-align: center;
      margin-bottom: 100px;
    }
  }

  