/backend/FoodIEBackend/nbproject/private/
/backend/FoodIEBackend/FoodIEBackend-war/nbproject/private/
/backend/FoodIEBackend/FoodIEBackend-ejb/nbproject/private/
/backend/FoodIEBackend/FoodIEBackend-ejb/build/
/backend/FoodIEBackend/build/
/backend/FoodIEBackend/dist/
/backend/FoodIEBackend/FoodIEBackend-war/build/
/backend/FoodIEBackend/FoodIEBackend-war/dist/
/backend/FoodIEBackend/FoodIEBackend-ejb/dist/
/backend/FoodIEBackend-war/nbproject/private/
/backend/FoodIEBackend-war/dist/
/backend/FoodIEBackend-war/build/
/backend/FoodIEBackend/FoodIEBackend-ejb/setup/glassfish-resources.xml