<div class="p-grid p-justify-center loginDiv">
  <div class="p-col-12 p-align-center cardContainer">
    <p-card styleClass="ui-card-shadow loginCard">
      <p-header>
        <div class="logo-container">
          <img src="assets/images/FoodIE.png" alt="logo" class="logo-img" />
        </div>
        <h1 class="cardHeader">Sign In to your account</h1>
      </p-header>
      <div class="p-grid">
        <div class="p-col-12">
          <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="p-grid">
              <div class="p-col-12">
                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email">
                  <mat-error *ngIf="loginForm.get('email').hasError">{{getEmailErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>

              <div class="p-col-12">
                <mat-form-field>
                  <input matInput type="password" placeholder="Password" formControlName="password">
                  <mat-error *ngIf="loginForm.get('password').hasError('required')">
                    Password is required
                  </mat-error>
                </mat-form-field>
              </div>
              <app-alert></app-alert>
              <div class="p-col-12 p-justify-center btnContainer">
                <!-- <button mat-stroked-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button> -->
                <button id="submitBtn" pButton type="submit" class="ui-button-info ui-button-raised"
                  label="SIGN IN"></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <p-footer>
        <div class="footerDiv">
          <a mat-ripple href="javascript:void(0)" class="forgot-pass" (click)="switchPage('/forget-password')">Forgot
            Password?</a>
        </div>
      </p-footer>
    </p-card>
  </div>
</div>