<p-table [columns]="cols" [value]="foods" [responsive]="true" (onRowSelect)="onRowSelect($event)" selectionMode="single"
  [paginator]="true" [rows]="15">
  <ng-template pTemplate="header" let-columns>
    <tr class="headerRow">
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        <span class="ui-column-title">{{col.header}}</span>
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="pi pi-plus" label="Add"></button>
    </div>
  </ng-template>
</p-table>